<main>
  <figure class="fig-container">
    <img src="/characters/college students.gif" alt="college students" />
  </figure>
  <section class="message-container">
    <h1>Smart Tasking</h1>
    <p>
      Harnessing the power of AI and game-like fun, our system customizes tasks
      to match your goals and progress, making every step a rewarding
      experience.
    </p>
  </section>
  <section class="button-container">
    <div class="buttons">
      <button class="btn get-started">get started</button>
    </div>
    <div class="buttons">
      <button class="btn already-account" [routerLink]="['../../auth/login']">
        I already have account
      </button>
    </div>
  </section>
</main>
