<section class="view-detail-container" @slide *ngIf="animateModal">
  @if (details) {
  <header class="detail-header">
    <span class="icon" (click)="closeTaskDetailModal()"
      ><i class="fa-regular fa-arrow-left"></i
    ></span>
    <h3 class="title">Task Details</h3>
    <span class="icon edit" (click)="toggleEditTask()"
      ><i class="fa-solid fa-ellipsis"></i
    ></span>

    @if (isEditTaskOpen) {
    <div class="edit-container">
      <p class="text">Edit Task</p>
      <span class="icon" (click)="openUpdateModal(details)"
        ><i class="fa-sharp fa-solid fa-pen-to-square"></i
      ></span>
    </div>
    }
  </header>

  <div class="task-content">
    <h1 class="task-title">{{ details.title }}</h1>
    <p class="sub-text deadline">
      Deadline on {{ details.dueDate | date : "longDate" }} |
      {{ details.dueTime | date : "shortTime" }}
    </p>

    <div class="other-tags">
      <p class="info">
        <span class="icon"
          ><i
            class="fa-regular"
            [ngClass]="{
              'fa-user': details.taskCategory === 0,
              'fa-book': details.taskCategory === 1
            }"
          ></i></span
        >{{ details.taskCategory | taskCategory }}
      </p>
      <!-- PERSONAL -->
      @if (details.taskCategory === 0) {
      <p class="info">
        <span class="icon"><i class="fa-regular fa-tag"></i></span
        >{{ details.tags | taskTagPersonal }}
      </p>
      }@else {
      <!-- ACADEMIC -->
      <p class="info">
        <span class="icon"><i class="fa-regular fa-tag"></i></span
        >{{ details.tags | taskTagAcademic }}
      </p>
      }
    </div>

    <div class="information-container">
      <h3 class="titles">Description</h3>
      @if (details.description != '') {
      <p class="info">{{ details.description }}</p>
      }@else {
      <p class="info italic">No Description</p>
      }
    </div>

    @if(subTasks) {
    <div class="information-container sub-tasks">
      <h3 class="titles">SubTaks</h3>
      <ul class="sub-task-list">
        <li class="sub-task-info" *ngFor="let data of subTasks; index as i">
          <p class="data">{{ data.subTask }}</p>
          <span
            class="icon"
            [ngClass]="{ completed: syncDataToUI(i) }"
            (click)="changeSubTaskStatus(i)"
            ><i class="fa-regular fa-solid fa-check"></i
          ></span>
        </li>
      </ul>
    </div>
    }
  </div>
  }
</section>
