<section class="chat-section">
  <header>
    <div class="back-container">
      <span class="arrow"><i class="fa-sharp fa-light fa-arrow-left"></i></span>
    </div>
    <div class="header-content">
      <figure class="img-container">
        <img src="FocusPal Logo/4.png" alt="" />
      </figure>
      <div class="content-info">
        <h5 class="bot-name">Sydney</h5>
        <p class="sub-text">Chabot Assistant</p>
      </div>
    </div>
    <div class="others-container">
      <div class="others">
        <span class="dots"><i class="fa-solid fa-circle"></i></span
        ><span class="dots"><i class="fa-solid fa-circle"></i></span
        ><span class="dots"><i class="fa-solid fa-circle"></i></span>
      </div>
    </div>
  </header>

  <section class="conversation-container">
    <div class="conversation-content">
      <ul
        class="conversation"
        *ngFor="let convo of chatBot.conversation; index as i"
      >
        <!-- MESSAGE OF USER -->
        <li class="message chat">
          <p>{{ convo.message }}</p>
        </li>

        <!-- RESPONSE OF AI -->
        <li class="response">
          <figure>
            <img
              src="FocusPal Logo/4.png"
              alt="Sydney Image"
              class="sydney-img"
            />
          </figure>

          <p class="chat">{{ convo.response }}</p>
        </li>
      </ul>
    </div>
  </section>
</section>
