<section class="chat-section">
  <header>
    <div class="back-container">
      <span class="arrow"><i class="fa-sharp fa-light fa-arrow-left"></i></span>
    </div>
    <div class="header-content">
      <figure class="img-container">
        <img src="FocusPal Logo/4.png" alt="" />
      </figure>
      <div class="content-info">
        <h5 class="bot-name">Sydney</h5>
        <p class="sub-text">Chabot Assistant</p>
      </div>
    </div>
    <div class="others-container">
      <div class="others">
        <span class="dots"><i class="fa-solid fa-circle"></i></span
        ><span class="dots"><i class="fa-solid fa-circle"></i></span
        ><span class="dots"><i class="fa-solid fa-circle"></i></span>
      </div>
    </div>
  </header>
</section>
