@use "../../app.component.scss" as *;

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px $textColor;
  background-color: $neutralColor;

  figure {
    img {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  }

  h6 {
    font-size: 1.5rem;
    font-family: $fontFamily;
    color: $textColor;
  }
}

.home-header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, $mainColor, $shadow);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .hamburger-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;

    .line-bar {
      width: 1.5rem;
      height: 3px;
      background-color: $neutralColor;
      border-radius: 8px;
      transition: 0.2s ease-in;
    }

    .active {
      position: absolute;
    }

    .active:first-child {
      transform: rotate(45deg);
    }

    .active:nth-child(2) {
      display: none;
    }

    .active:last-child {
      transform: rotate(-45deg);
    }
  }

  figure {
    width: 20%;
    .img-container {
      width: 3.5rem;
      height: 3.5rem;
      background-color: $neutralColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 3rem;
        width: 3rem;
        cursor: pointer;
      }

      .animated {
        animation: logo 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
      }

      @keyframes logo {
        25% {
          transform: rotate(30deg);
          filter: drop-shadow(0 0 5px $shadow);
        }
        75% {
          transform: rotate(-30deg);
        }
      }
    }
  }

  h6 {
    text-align: center;
    width: 60%;
    font-size: 1.5rem;
    font-family: $fontFamily;
    color: $neutralColor;
  }
}
