<main>
  <header class="task-module-header">
    <app-header [data]="appHeaderText"></app-header>
  </header>
  <section class="task-container">
    <div class="filter-container">
      <app-task-filter-control></app-task-filter-control>
    </div>

    <ul class="task-list-container">
      <li
        class="task-list-content"
        *ngFor="let data of taskList; index as i"
        [appTaskBackgroundColor]="data.status"
      >
        <h4 class="title">{{ data.title }}</h4>

        <!-- PERSONAL -->
        @if (data.taskCategory === 0) {
        <p class="tags">{{ data.tags | taskTagPersonal }}</p>
        }
        <!-- ACADEMIC -->
        @if (data.taskCategory === 1) {
        <p class="tags">{{ data.tags | taskTagAcademic }}</p>
        }

        <p class="subText category">
          {{ data.taskCategory | taskCategory }}
        </p>

        <div class="flex-subText">
          <p class="subText dataTime">
            <span class="icon"><i class="fa-solid fa-clock"></i></span
            >{{ data.dueTime | date : "shortTime" }} |
            {{ data.dueDate | date : "longDate" }}
          </p>
          <p class="subText priority">{{ data.priority | textPipe }}</p>
        </div>

        <span class="icon-update"
          ><i class="fa-regular fa-arrow-up-right"></i
        ></span>
      </li>
    </ul>
  </section>
</main>

<!-- ERROR RESULT UDPATE OR DELETE MODAL -->
@if (isResultModalOpen) {
<div class="modal">
  <app-modal [data]="resultModalDetail"></app-modal>
</div>
}
