<main>
  @if (confirmation) {
  <div class="loader-container" [@slide] *ngIf="animateModal">
    <img [src]="data?.imgPath" alt="" />

    <!-- CONFIRMATION -->
    <div class="update-title">
      <h4>{{ data?.title }}</h4>
    </div>
    <div class="text" *ngIf="text">
      <p>{{ data?.text }}</p>
    </div>
    <section class="button-section">
      <!-- CONFIRMATION MODAL -->
      <div class="button-containers">
        <button class="btn cancel" (click)="cancel()">Cancel</button>
      </div>
      <div class="button-containers">
        <button class="btn" (click)="confirm()">Confirm</button>
      </div>
    </section>
  </div>
  } @else {
  <div class="loader-container" [@slide] *ngIf="animateModal">
    <img [src]="data?.imgPath" alt="" />
    <div class="title">
      <h4>{{ data?.title }}</h4>
      <small *ngIf="data.subText"> {{ data?.subText }}</small>
    </div>

    <section class="button-section">
      <div class="button-containers">
        <button class="btn" (click)="close()">Okay</button>
      </div>
    </section>

    <p class="resend" *ngIf="data.resendEmail" (click)="resendEmailVerify()">
      {{ data?.resendEmail }}
    </p>
  </div>
  }
</main>
