@use "../../app.component.scss" as *;

main {
  max-height: 100dvh;
  height: 100dvh;
  background: rgba(185, 147, 147, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  --webkit-backdrop-filter: blur(3.4px);
  display: grid;
  place-content: center;

  font-family: $fontFamily;

  .loader-container {
    backdrop-filter: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 1rem;
    width: 80vw;

    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .text {
      font-size: 1rem;
      color: $subText;
      text-align: center;
    }

    .resend {
      margin-block: 1rem;
      text-decoration: underline;
      font-size: 0.8rem;
      font-family: $subText;
      color: $textColor;
    }

    .title,
    .update-title {
      color: $textColor;
      text-align: center;

      small {
        font-family: $subText;
      }
    }

    .update-title {
      font-size: 1.5rem;
    }

    img {
      width: 75px;
      height: 75px;
    }

    .button-section {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;

      .button-containers {
        width: 80%;
        margin-inline: auto;
        .btn {
          width: 100%;
          @include buttonTheme($mainColor, $neutralColor, $shadow);

          &:active {
            top: 4px;
            box-shadow: $mainColor 0px 3px 2px, #000 0px 3px 5px;
          }
        }

        .cancel {
          @include buttonTheme($neutralColor, $textColor, $grayColor);
        }
      }
    }
  }
}
