<div class="background">
  <section class="modal-container" @slide *ngIf="animateModal" id="capture">
    <div class="modal-content">
      <header class="modal-header">
        <figure class="modal-logo">
          <span class="icon"><img src="extra/trophy.png" alt="" /></span>
        </figure>
        <div class="modal-header-text">
          <h2>🎉 Congratulations! 🎉</h2>
          <p>{{ phrase }}</p>
        </div>
      </header>
      <section class="modal-body">
        <div class="small-card">
          <section class="card-title">
            <p class="text">Exp Earned</p>
            <span class="icon"><i class="fa-regular fa-arrow-up"></i></span>
          </section>
          <div class="card-body">
            <h3>+20 EXP</h3>
          </div>
        </div>
        <section class="small-card">
          <section class="card-title">
            <p class="text">Rank</p>
            <span class="icon"><i class="fa-regular fa-shield"></i></span>
          </section>
          <figure class="card-body">
            <img [src]="setUserBadgeRank(userData?.rank!)" alt="" />
          </figure>
        </section>
      </section>
      <div class="rank-progress">
        <div class="ranks">
          <div class="current-rank">
            <span class="icon"><i class="fa-regular fa-crown"></i></span>
            <h4 class="rank text">{{ userData?.rank! | ranks }}</h4>
          </div>
          <h4 class="text">Next: {{ userData?.rank! + 1 | ranks }}</h4>
        </div>

        <div class="progress-container">
          <div class="progress-bar">
            <div class="progress" [appProgressBar]="userData!"></div>
          </div>
        </div>
        <div class="sub-info">
          <div class="info">{{ newExp }}/ {{ userData?.nextLevelExp }} XP</div>
          <div class="info">{{ neededExp }} XP to next rank</div>
        </div>
      </div>
      <section class="modal-footer">
        <button class="btn" (click)="share('#capture')">Save</button>
        <button class="btn" (click)="closeModal()">Continue</button>
      </section>
    </div>
  </section>
</div>
