@use "../../../app.component.scss" as *;
@use "../../../icons/font-awesome-6-pro-main/css/all.css" as *;

main {
  width: 100dvw;
  min-height: 100%;
  color: $textColor;
  overflow-y: auto;
  z-index: 1;
  background-color: $neutralColor;

  .calendar-module {
    .calendar-filter {
      width: 100%;
      margin-block: 1rem;

      .filter {
        width: 80%;
        margin-inline: auto;
        display: flex;
        box-shadow: 0 3px 4px 0 $textColor;
        text-align: center;
        align-items: center;
        border-radius: 1rem;

        .choices {
          width: 50%;
          text-align: center;
          font-family: $fontFamily;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          cursor: pointer;
        }

        .week {
          border-radius: 1rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .selected {
          background-color: $mainColor;
          color: white;
        }
      }
    }

    .calendar-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-block: 1rem;
      font-size: 1.5rem;
      font-family: $fontFamily;

      .btn {
        @include buttonTheme($mainColor, $neutralColor, $shadow);
        border-radius: 50%;
        font-size: 1rem;

        &:active {
          top: 4px;
          box-shadow: $mainColor 0px 3px 2px, #000 0px 3px 5px;
        }
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .calendar-slider {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .calendar-scroll {
        width: 100%;

        .week {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          list-style-type: none;
          gap: 0.5rem;

          .date {
            padding: 1rem;
            text-align: center;
            background-color: #edf2f4;
            border-radius: 8px;
            font-family: $fontFamily;

            .month-date {
              font-size: 1.5rem;
            }

            .day-of-week {
              font-size: 1rem;
              font-weight: 100;
              font-family: $subText;
            }
          }

          .highlighted {
            color: white;
            background-color: $mainColor;
            border-radius: 8px;

            .day-of-week {
              color: white;
            }
          }

          .dateSelected {
            border: 2px dashed $mainColor;
          }
        }
      }
    }
  }

  .schedule-container {
    padding: 0.5rem 1rem;
    font-family: $fontFamily;
    width: 100dvw;

    .container {
      width: 100%;

      .schedules {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: end;
        .sched {
          width: 80%;
          padding: 0.5rem;
          border-radius: 10px;
          background-color: $mainColor;
          color: white;
          margin-block: 0.5rem;

          .type {
            font-size: 1rem;
            font-family: $subText;
            font-weight: 900;
            margin-block-end: 1rem;
          }

          .time {
            float: right;
            font-size: 0.8rem;
            font-family: $subText;
          }

          .title {
            font-size: 1rem;
          }
        }
      }
    }

    .no-sched {
      text-align: center;
      font-size: 1.5rem;
      margin-block: 1rem;
    }
  }

  .reminder {
    width: 100%;
    padding: 0.5rem;
    font-family: $fontFamily;

    h3 {
      font-size: 1.25rem;
    }

    p {
      font-family: $subText;
      font-size: 1rem;
    }

    .button-section {
      width: 50dvw;
      margin: 0.5rem auto;

      .btn {
        width: 100%;
        @include buttonTheme($mainColor, $neutralColor, $shadow);

        &:active {
          top: 4px;
          box-shadow: $mainColor 0 3px 2px, #000 0 3px 5px;
        }
      }
    }
  }

  .add-list-modal {
    width: 100dvw;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
