<main>
  <header>
    <app-header [data]="headerData"></app-header>
  </header>
  <section class="calendar-module">
    <section class="calendar-filter">
      <div class="filter">
        <div
          class="choices"
          (click)="getSchedByFilterType(0)"
          [ngClass]="filterIndex === 0 ? 'selected' : ''"
        >
          Today
        </div>
        <div
          class="choices week"
          (click)="getSchedByFilterType(1)"
          [ngClass]="filterIndex === 1 ? 'selected' : ''"
        >
          Week
        </div>
      </div>
    </section>
    <section class="calendar-header">
      <button (click)="previousDay()" class="btn">
        <i class="fa-sharp fa-solid fa-arrow-left"></i>
      </button>
      <h2>{{ currentMonthName }} {{ currentYear }}</h2>
      <button (click)="nextDay()" class="btn">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </button>
    </section>

    <section class="calendar-slider">
      <div class="calendar-scroll">
        <ul class="week">
          <li
            *ngFor="let date of week; index as i"
            class="date"
            [ngClass]="{
              highlighted:
                date.date === today.getDate() &&
                date.month === today.getMonth() &&
                date.year === today.getFullYear(),
              dateSelected: filterDateIndex === i
            }"
            (click)="filterbyDate(i)"
          >
            <h6 class="month-date">{{ date.date }}</h6>

            <h6 class="day-of-week">{{ date.dayOfWeek }}</h6>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <section class="schedule-container" *ngIf="filterIndex === 0">
    <h3>Schedule Today</h3>

    <div class="container" *ngIf="schedList.length != 0; else noSched">
      <ul
        class="schedules"
        *ngFor="let sched of schedList; index as i"
        (click)="openModalUpdate(schedList[i])"
      >
        <li class="sched">
          <span class="type">{{ sched.type | schedType }}!</span>
          <span class="time">
            {{ sched.startTime | date : "h:mm a" }} -
            {{ sched.endTime | date : "h:mm a" }}
          </span>
          <p class="title">{{ sched.title }}</p>
        </li>
      </ul>
    </div>
    <ng-template #noSched>
      <h3 class="no-sched">Empty Schedule</h3>
    </ng-template>
  </section>

  <section class="weekly-sched-container" *ngIf="filterIndex != 0">
    <app-weekly-sched></app-weekly-sched>
  </section>

  <section class="reminder">
    <h3>Reminder</h3>
    <p>Don't Forget your schedule Tomorrow!</p>

    <div class="button-section">
      <button class="btn" (click)="addSched()">Add Schedule</button>
    </div>
  </section>

  <!-- INSERT NEW SCHED MODAL -->
  <section class="add-list-modal" *ngIf="modalStatus.isAddSchedModalOpen">
    <app-add-sched></app-add-sched>
  </section>

  <!-- UPDATE SCHED MODAL -->
  <section class="add-list-modal" *ngIf="modalStatus.isUpdateSchedModalOpen">
    <app-add-sched
      [updateData]="updateData"
      [isUpdate]="isUpdate"
    ></app-add-sched>
  </section>
</main>
