<main>
  <header><app-header [homeData]="homeHeaderData"></app-header></header>

  <section class="container">
    <div class="content">
      <div class="head-container">
        <h3>Top Performer</h3>
      </div>
      <div class="leaderboards">
        <figure class="podium">
          <figure class="top-performer">
            <div class="performer">
              <div class="profile">
                <img
                  src="Elements/silver.png"
                  alt="Silver Medal"
                  class="medal"
                />
                <img src="Avatars/1.png" alt="Avatar" class="avatar" />
              </div>
              <h4>Anthony</h4>
              <h4>10000 Points</h4>
            </div>
            <div class="performer">
              <img src="Elements/crown.png" alt="Crown" class="crown" />
              <div class="profile">
                <img src="Elements/gold.png" alt="Gold Medal" class="medal" />
                <img src="Avatars/2.png" alt="Avatar" class="avatar" />
              </div>
              <h4>Anthony</h4>
              <h4>10000 Points</h4>
            </div>
            <div class="performer">
              <div class="profile">
                <img
                  src="Elements/bronze.png"
                  alt="Bronze Medal"
                  class="medal"
                />
                <img src="Avatars/4.png" alt="Avatar" class="avatar" />
              </div>
              <div class="text">
                <h4>Anthony</h4>
                <h4>10000 Points</h4>
              </div>
            </div>
          </figure>
          <img src="Elements/podium.png" alt="Podium" />
        </figure>

        <section class="other-leader-container">
          <div class="background" [ngClass]="{ show: isOtherLeaderShowed }">
            <div class="triangle" (click)="showOtherLeaders()">
              <div class="circle"></div>
            </div>
            <div class="other-leaders">
              <div class="top-players">
                <figure>
                  <img src="Elements/medal.png" alt="Medal" />
                </figure>
                <div class="text-container">
                  <h3 class="text">Take a look at these</h3>
                  <h3 class="text">TOP 10 PLAYERS!</h3>
                </div>
              </div>
              <ul class="players">
                <li class="list">
                  <div class="player">
                    <span class="rank">4</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">5</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">6</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">7</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">8</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">9</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
                <li class="list">
                  <div class="player">
                    <span class="rank">10</span>
                    <figure>
                      <img src="Avatars/7.png" alt="" />
                    </figure>
                    <h3 class="username">AdminPhone</h3>
                  </div>
                  <span class="points">
                    <h5>1,445 points</h5>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>
