<main>
  <header><app-header [homeData]="homeHeaderData"></app-header></header>

  <section class="container">
    <div class="content">
      <div class="leaderboards">
        <figure class="podium">
          <figure class="top-performer">
            <div class="performer">
              <div class="profile">
                <img
                  src="Elements/silver.png"
                  alt="Silver Medal"
                  class="medal"
                />
                <img src="Avatars/1.png" alt="Avatar" class="avatar" />
              </div>
              <h4>Anthony</h4>
              <h4>10000 Points</h4>
            </div>
            <div class="performer">
              <img src="Elements/crown.png" alt="Crown" class="crown" />
              <div class="profile">
                <img src="Elements/gold.png" alt="Gold Medal" class="medal" />
                <img src="Avatars/2.png" alt="Avatar" class="avatar" />
              </div>
              <h4>Anthony</h4>
              <h4>10000 Points</h4>
            </div>
            <div class="performer">
              <div class="profile">
                <img
                  src="Elements/bronze.png"
                  alt="Bronze Medal"
                  class="medal"
                />
                <img src="Avatars/4.png" alt="Avatar" class="avatar" />
              </div>
              <div class="text">
                <h4>Anthony</h4>
                <h4>10000 Points</h4>
              </div>
            </div>
          </figure>
          <img src="Elements/podium.png" alt="Podium" />
        </figure>
      </div>
    </div>
  </section>
</main>
