<div
  class="add-task-background"
  [@slide]
  *ngIf="animateModal"
  [ngClass]="{
    editMode:
      isConfirmModalOpen || dueDateTimeValidityStatus === modalType.INCORRECT
  }"
>
  <div class="add-task-container">
    <div class="modal-header">
      @if (!modalStatus?.mode) {
      <h3 class="title">Add Task</h3>
      } @else {
      <h3 class="title">Update Task</h3>
      }
      <span class="icon"
        ><i
          class="fa-sharp fa-regular fa-arrow-left"
          (click)="closeTaskModal()"
        ></i
      ></span>
    </div>
    <form action="" class="modal-content" [formGroup]="userInput">
      @if (modalStatus?.mode) {
      <section class="form-input select">
        <div class="complete-container">
          <h4>Complete Task</h4>
          <span
            class="icon"
            [ngClass]="{ complete: isTaskComplete }"
            (click)="setTaskCompletion()"
            ><i class="fa-sharp fa-regular fa-circle-check"></i
          ></span>
        </div>
      </section>
      }
      <section class="form-input select">
        <div class="label-container">
          <span class="icon"><i class="fa-regular fa-clipboard-list"></i></span>
          <p class="label">Category</p>
        </div>
        <div class="user-select">
          <div class="category" id="category">
            <button
              type="button"
              class="btn-category"
              (click)="selectCategory(0)"
              [ngClass]="{ selected: categoryIndex === 0 }"
            >
              Personal</button
            ><button
              type="button"
              class="btn-category"
              (click)="selectCategory(1)"
              [ngClass]="{ selected: categoryIndex === 1 }"
            >
              Academic
            </button>
          </div>
        </div>
        <div class="error-container">
          <div class="error-message" *ngIf="!validator('taskCategory')">
            <p>This field is required</p>
          </div>
        </div>
      </section>

      <section class="form-input select">
        <div class="label-container">
          <span class="icon"><i class="fa-regular fa-clipboard-list"></i></span>
          <p class="label">Tags</p>
        </div>
        <div class="user-select">
          <div class="category tags" id="priority">
            <button
              type="button"
              class="btn-category"
              *ngFor="let tags of tagList; index as i"
              (click)="selectTags(i)"
              [ngClass]="{ selected: tagIndex === i }"
            >
              {{ tags }}
            </button>
          </div>
        </div>
        <div class="error-container">
          <div class="error-message" *ngIf="!validator('tags')">
            <p>This field is required</p>
          </div>
        </div>
      </section>

      <section class="form-input select">
        <div class="label-container">
          <span class="icon"><i class="fa-regular fa-clipboard-list"></i></span>
          <p class="label">Priority</p>
        </div>
        <div class="user-select">
          <div class="category" id="priority">
            <button
              type="button"
              class="btn-category"
              *ngFor="let level of addTaskConfig.taskLevels; index as i"
              (click)="selectPriority(i)"
              [ngClass]="{ selected: priorityIndex === i }"
            >
              {{ level }}
            </button>
          </div>
        </div>
        <div class="error-container">
          <div class="error-message" *ngIf="!validator('priority')">
            <p>This field is required</p>
          </div>
        </div>
      </section>

      <section class="form-input text-input">
        <label for="title">Task Name</label>
        <input
          type="text"
          name="title"
          formControlName="title"
          id="title"
          class="text"
          placeholder="Type Task Title"
        />
        <div class="error-container">
          <div
            class="error-message"
            *ngIf="!validator('title') && title?.errors?.['whitespace']"
          >
            <p>This field is required</p>
          </div>
        </div>
      </section>

      <section class="form-input text-input">
        <label for="description">Task Description</label>
        <textarea
          name="description"
          id="description"
          cols="20"
          class="text textarea"
          placeholder="Type Task Description"
          formControlName="description"
        ></textarea>
      </section>

      <section class="form-input text-input">
        <p class="label">SubTasks</p>
        <div class="sub-task-header">
          <!-- *ngIf="isSubTaskOpen" -->
          @if (isSubTaskOpen) {
          <div
            class="sub-task-input"
            [ngClass]="{ 'exit-sub-task-input': closing }"
          >
            <input
              type="text"
              class="subtask"
              name="subTaskList"
              id="subTaskList"
              placeholder="Add SubTask"
              [(ngModel)]="subTaksInput"
              [ngModelOptions]="{ standalone: true }"
              (input)="changeSubTaskText($event)"
            />
          </div>
          }
          <div class="button-container">
            <button
              class="btn"
              type="button"
              (click)="subTasks(modeUsed, editSubtaskById)"
              [ngClass]="{ 'add-sub-task': isSubTaskOpen }"
            >
              {{ subTaskButtonText }}<i class="fa-solid fa-plus-large"></i>
            </button>
          </div>
        </div>
        <ul class="sub-task-list" *ngIf="subTaskList.length > 0">
          <li class="list" *ngFor="let list of subTaskList; index as i">
            <p>{{ list.data }}</p>
            <span
              ><img
                src="extra/edit.png"
                alt=""
                (click)="setUpdateSubTaskMode(i)"
            /></span>
            <span
              ><img
                src="extra/trash.png"
                alt=""
                (click)="openSubTaskConfirmationModal(i, list)"
            /></span>
          </li>
        </ul>
      </section>

      <section class="form-input select timepicker">
        <div class="time">
          <div class="user-select">
            <p class="label">Start Date</p>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="startDate"
                [matDatepickerFilter]="startDaterestrictDates"
                formControlName="startDate"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="startDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <div class="error-container">
              <div class="error-message" *ngIf="!validator('startDate')">
                <p>This field is required</p>
              </div>
            </div>
          </div>

          <div class="user-select">
            <p class="label">Due Date</p>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="dueDate"
                formControlName="dueDate"
                [matDatepickerFilter]="dueDaterestrictDates"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dueDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #dueDate></mat-datepicker>
            </mat-form-field>
            <div class="error-container">
              <div class="error-message" *ngIf="!validator('dueDate')">
                <p>This field is required</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="form-input">
        <div class="timepicker-container">
          <label class="label">Due Time</label>
          <input
            [ngxTimepicker]="timePickers"
            name="dueTime"
            class="time-picker"
            id="dueTime"
            [(ngModel)]="dueTime"
            [ngModelOptions]="{ standalone: true }"
            (blur)="setDueTime(dueTime)"
            readonly
          />
          <span class="icon"><i class="fa-solid fa-clock"></i></span>
        </div>

        <ngx-material-timepicker #timePickers></ngx-material-timepicker>
        <!-- <div class="error-container">
          <div class="error-message" *ngIf="!dueTime">
            <p>This is a required Field</p>
          </div>
        </div> -->
      </section>

      <section class="button-container">
        <div class="submit-btn" *ngIf="!modalStatus?.mode">
          <button class="btn" (click)="submit()">Submit</button>
        </div>

        <div class="edit-btn" *ngIf="modalStatus?.mode">
          <button class="btn delete" (click)="deleteTask()">Delete</button>
          <button class="btn update" (click)="updateTask()">Update</button>
        </div>
      </section>
    </form>

    <svg
      width="375"
      height="812"
      viewBox="0 0 375 812"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="add-class-bg"
    >
      <g filter="url(#filter0_f_942_812)">
        <rect
          y="1"
          width="375"
          height="811"
          rx="28"
          fill="url(#paint0_linear_942_812)"
        />
      </g>
      <g filter="url(#filter1_f_942_812)">
        <ellipse
          cx="19.5"
          cy="27.5"
          rx="48.5"
          ry="45.5"
          fill="#FF725E"
          fill-opacity="0.26"
        />
      </g>
      <g filter="url(#filter2_f_942_812)">
        <ellipse
          cx="296.411"
          cy="261.165"
          rx="87"
          ry="82"
          transform="rotate(12.2438 296.411 261.165)"
          fill="#FF725E"
          fill-opacity="0.15"
        />
      </g>
      <g filter="url(#filter3_f_942_812)">
        <ellipse
          cx="409.933"
          cy="292.184"
          rx="135.188"
          ry="178.829"
          transform="rotate(19.9151 409.933 292.184)"
          fill="#FF725E"
          fill-opacity="0.15"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_942_812"
          x="-50"
          y="-49"
          width="475"
          height="911"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="25"
            result="effect1_foregroundBlur_942_812"
          />
        </filter>
        <filter
          id="filter1_f_942_812"
          x="-99"
          y="-88"
          width="237"
          height="231"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="35"
            result="effect1_foregroundBlur_942_812"
          />
        </filter>
        <filter
          id="filter2_f_942_812"
          x="139.613"
          y="108.916"
          width="313.597"
          height="304.499"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="35"
            result="effect1_foregroundBlur_942_812"
          />
        </filter>
        <filter
          id="filter3_f_942_812"
          x="198.954"
          y="47.8131"
          width="421.958"
          height="488.741"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="35"
            result="effect1_foregroundBlur_942_812"
          />
        </filter>
        <linearGradient
          id="paint0_linear_942_812"
          x1="379.152"
          y1="-105.751"
          x2="-21.4019"
          y2="973.517"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.064941" stop-color="#FF725E" />
          <stop offset="0.17192" stop-color="white" />
          <stop offset="0.706606" stop-color="white" />
          <stop offset="1" stop-color="#FF725E" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  @if (isConfirmModalOpen) {
  <div class="confirmModal">
    <app-modal [data]="confirm"></app-modal>
  </div>
  }

  <!-- IF THE ENTERED DUE DATE HAD ALREADY PASSED -->
  @if (dueDateTimeValidityStatus === modalType.INCORRECT) {
  <div class="confirmModal">
    <app-modal [data]="popUpModalErrorData"></app-modal>
  </div>
  }
</div>
