<main>
  <header>
    <app-header [homeData]="headerData"></app-header>
  </header>

  <section class="container">
    <section class="greeting-container">
      <h6 class="title">{{ greeting }}</h6>
      <p class="username">Hello, {{ username }} 👋</p>
    </section>

    <section class="summary-container">
      <ul class="summary-list">
        <li class="list">
          <h6 class="title">Completion Status</h6>
          <div class="progress-bar-container">
            <div class="progress-bar completed-task"></div>
            <p class="progress">{{ completedTask }} of {{ totalTask }}</p>
          </div>

          <p class="sub-text">Main Tasks Completed</p>
        </li>
        <li class="list">
          <h6 class="title">Task Tracker</h6>
          <div class="progress-bar-container">
            <div class="progress-bar task-pending"></div>
            <p class="progress">{{ pendingTask }}</p>
          </div>
          <p class="sub-text">Main Tasks Pending</p>
        </li>
        <li class="list rankings">
          <h6 class="title">Pal Rankings</h6>
          <p class="sub-title">You're Performance</p>
          <div class="badge-container">
            <h6 class="rank-number">#1</h6>
            <h6 class="username">{{ username }}</h6>
            <figure>
              <img [src]="setUserBadge(userBadge!)" alt="Badge" />
            </figure>
          </div>
          <p class="sub-text">{{ completedTask }} Completed Task</p>
          <p class="sub-text">{{ userExp }} EXP</p>
        </li>
      </ul>
    </section>

    <!-- TASK PROGRESS SUMMARY -->
    <section class="task-progress-container">
      <div class="task-progress">
        <div class="task-header">
          <i class="fa-solid fa-square-list"></i>
          <h6>Task in Progress</h6>
        </div>

        <ul class="task-list-container">
          <li class="tasks" *ngFor="let task of pendingTaskList; index as i">
            <span class="info-container">
              <h6 class="title">{{ task.title }}</h6>
              <p class="due">Due Date</p>
            </span>

            <span class="info-container">
              <p class="sub-task">2 sub-task left</p>

              <p class="due-date">{{ task.dueDate | date : "longDate" }}</p>
            </span>
          </li>

          <!-- NO MEETINGS/CLASS TODAY-->
          <li
            class="no-schedule"
            *ngIf="!pendingTaskList || pendingTaskList.length === 0"
          >
            <h4 class="title">🎉No Pending Task, Hooray!🎉</h4>
            <p class="sub-text">Enjoy your Free Time</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- CLASS FOR TODAY -->

    <section class="card-container">
      <div class="card-content">
        <div class="card-header">
          <i class="fa-sharp fa-solid fa-thumbtack"></i>
          <h6 class="card-title">Class Today</h6>
        </div>
        <ul class="card-list">
          <li class="list" *ngFor="let class of classToday; index as i">
            <h6 class="title">{{ class.title }}</h6>
            <p class="add-info">{{ class.location }}</p>
            <p class="add-info">
              {{ class.startTime | date : "shortTime" }} -
              {{ class.endTime | date : "shortTime" }}
            </p>
          </li>

          <!-- NO MEETINGS/CLASS TODAY-->
          <li
            class="no-schedule"
            *ngIf="!classToday || classToday.length === 0"
          >
            <h4 class="title">🎉No class Scheduled for Today🎉</h4>
            <p class="sub-text">Enjoy your Free Time</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- MEETING FOR TODAY -->
    <section class="card-container">
      <div class="card-content">
        <div class="card-header">
          <i class="fa-sharp fa-solid fa-phone-volume"></i>
          <h6 class="card-title">Meeting Today</h6>
        </div>
        <ul class="card-list">
          <li class="list" *ngFor="let meeting of meetingToday; index as i">
            <h6 class="title">{{ meeting.title }}</h6>
            <p class="add-info">{{ meeting.location }}</p>
            <p class="add-info">
              {{ meeting.startTime | date : "shortTime" }} -
              {{ meeting.endTime | date : "shortTime" }}
            </p>
          </li>

          <!-- NO MEETINGS/CLASS TODAY-->
          <li
            class="no-schedule"
            *ngIf="!meetingToday || meetingToday.length === 0"
          >
            <h4 class="title">🎉No Meeting Scheduled for Today🎉</h4>
            <p class="sub-text">Enjoy your Free Time</p>
          </li>
        </ul>
      </div>
    </section>
  </section>
</main>
