@use "../../../../../app.component.scss" as *;
@use "../../../../../icons/font-awesome-6-pro-main/css/all.css" as *;

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  .modal-container {
    width: 100%;
    height: 60dvh;
    display: none;

    .modal-content {
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      /* background-color: $neutralColor; */
      background: url("/background/background2.png");
      background-position: center;
      background-size: cover;

      .modal-body > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .input-container {
          width: 100%;

          .inputs {
            width: 100%;
            padding: 0.5rem;
            font-family: $subText;
            font-size: 1rem;
            border-radius: 8px;
            outline: none;
            border: 1px solid $textColor;
            background: transparent;
          }

          .label {
            font-family: $fontFamily;
            font-size: 1rem;
            margin-block-end: 0.25rem;
            display: flex;
            gap: 0.5rem;

            .icon {
              height: 1.5rem;
              width: 1.5rem;
              padding: 0.5rem;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid $shadow;

              i {
                color: $shadow;
              }
            }
          }

          .input-number {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-block: 0.5rem;

            .icon > i {
              font-size: 1.5rem;
            }

            .pomodoro {
              width: 15%;
              text-align: center;
            }
          }

          .info {
            width: 100%;
            border: 2px solid $shadow;
            background-color: $mainColor;
            color: $neutralColor;
            border-radius: 1rem;
            padding: 0.5rem;

            p {
              font-size: 0.7rem;
            }
          }

          textarea {
            width: 100%;
            padding: 0.5rem;
            height: 4rem;
            font-family: $subText;
            resize: none;
            border: 1px solid $textColor;
            outline: none;
            border-radius: 8px;
          }

          .error-container {
            width: 100%;
            height: 1rem;

            p {
              font-size: 0.8rem;
              color: red;
              font-family: $subText;
            }
          }
        }
      }

      .modal-footer > .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-block-start: 1rem;

        .button-container {
          display: flex;
          gap: 1rem;

          .btn {
            @include buttonTheme($mainColor, $neutralColor, $shadow);

            &:active {
              @include buttonOnClick($mainColor);
            }
          }

          .cancel {
            @include buttonTheme($neutralColor, $textColor, $grayColor);

            &:active {
              @include buttonOnClick($grayColor);
            }
          }

          .delete {
            @include buttonTheme($deleteColor, $neutralColor, $darkerShadow);

            &:active {
              @include buttonOnClick($darkerShadow);
            }
          }
        }
      }
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
