<div class="background">
  <main class="modal-container" @slide *ngIf="animateModal">
    <div class="modal-content">
      <section class="modal-body">
        <form action="" [formGroup]="userInput">
          <div class="input-container">
            <p class="label">Title</p>
            <input
              type="text"
              name=""
              id=""
              class="inputs"
              formControlName="title"
              placeholder="What’s your main focus now?"
            />
            <div class="error-container">
              <p *ngIf="!errorCheck('title')">This field is required</p>
            </div>
          </div>
          <div class="input-container">
            <p class="label">
              Pomodoro Sessions
              <span class="icon" (click)="toggleInfo()"
                ><i class="fa-sharp fa-solid fa-question"></i
              ></span>
            </p>
            <section class="input-number">
              <span class="icon" (click)="numberInputController('up')"
                ><i class="fa-regular fa-circle-plus"></i
              ></span>
              <input
                type="number"
                name=""
                id=""
                formControlName="pomodoro"
                class="inputs pomodoro"
                readonly
              />
              <span class="icon" (click)="numberInputController('down')"
                ><i class="fa-regular fa-circle-minus"></i
              ></span>
              @if (isInfoDisplayed) {
              <section class="info">
                <p>
                  Estimate the number of Pomodoros (focused work sessions) this
                  task will take. Default: 1 Pomodoro = 25 mins.
                </p>
              </section>
              }
            </section>
            <div class="error-container">
              <p *ngIf="!errorCheck('pomodoro')">This field is required</p>
            </div>
          </div>
          <div class="input-container">
            <p class="label">Description</p>
            <textarea
              name=""
              id=""
              formControlName="description"
              placeholder="Add details about the task here…"
            ></textarea>
            <div class="error-container">
              <p *ngIf="!errorCheck('description')">This field is required</p>
            </div>
          </div>
        </form>
      </section>
      <section class="modal-footer">
        <div class="container">
          <div class="button-container">
            @if(updateMode) {
            <button class="btn delete" (click)="deleteTask()">Delete</button>
            }
          </div>
          <div class="button-container">
            <button class="btn cancel" (click)="closeModal()">Cancel</button>
            @if(updateMode) {
            <button class="btn" (click)="updateTask()">Update</button>
            }@else {
            <button class="btn" (click)="submit()">Save</button>
            }
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

@if(confirmModalStatus) {
<div class="modal">
  <app-modal [confirmation]="true" [data]="confirmationDataModal"></app-modal>
</div>
}
