@use "../../app.component.scss" as *;

main {
  max-height: 100dvh;
  height: 100dvh;
  background: rgba(185, 147, 147, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  display: grid;
  place-content: center;

  font-family: $fontFamily;

  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loader {
    width: 70px;
    height: 70px;
    position: relative;
  }

  .loader:before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid $mainColor;

    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s ease-in-out infinite;
  }

  .loader:after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: $mainColor;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
  }

  .loader-text {
    font-size: 24px;
    margin-top: 20px;
    color: $mainColor;
    text-align: center;
    text-transform: uppercase;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.6);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(0.6);
      opacity: 1;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .content {
    display: none;
  }

  .loaded .loader-container {
    display: none;
  }

  .loaded .content {
    display: block;
  }
}

.leaderboardloading {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
