<main>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <nav class="nav">
    <section class="icon-container">
      <button class="btn" (click)="navigate(buttonStatus[0])">
        <i
          class="fa-regular fa-house"
          [ngClass]="buttonStyle(buttonStatus[0].path)"
        ></i>
      </button>
    </section>
    <section class="icon-container">
      <button class="btn" (click)="navigate(buttonStatus[1])">
        <i
          class="fa-regular fa-calendar-lines-pen"
          [ngClass]="buttonStyle(buttonStatus[1].path)"
        ></i>
      </button>
    </section>
    <section class="icon-container">
      <button class="btn add" (click)="openModal()">
        <i class="fa-solid fa-plus-large"></i>
      </button>
    </section>
    <section class="icon-container">
      <button class="btn" (click)="navigate(buttonStatus[2])">
        <i
          class="fa-sharp fa-regular fa-clipboard-list"
          [ngClass]="buttonStyle(buttonStatus[2].path)"
        ></i>
      </button>
    </section>
    <section class="icon-container">
      <button class="btn" (click)="navigate(buttonStatus[3])">
        <i
          class="fa-regular fa-clock-three"
          [ngClass]="buttonStyle(buttonStatus[3].path)"
        ></i>
      </button>
    </section>
  </nav>
</main>

<!-- ADD TASK MODAL -->
@if (modalStatus?.isOpen && !modalStatus?.mode) {
<section class="add-task-modal">
  <app-add-task></app-add-task>
</section>

}

<!-- UPDATE TASK MODAL -->
@if (modalStatus?.isOpen && modalStatus?.mode) {
<section class="add-task-modal">
  <app-add-task></app-add-task>
</section>
}

<!-- CHAT AI -->
@if (isAiChatOpen) {
<div class="chat-container">
  <app-chat></app-chat>
</div>
}

<!-- TASK FILTER MODAL -->
<!-- *ngIf For signals -->
<div class="modal" *ngIf="fetchTaskFilterSignal()">
  <app-filter-task-modal></app-filter-task-modal>
</div>

<div class="modal" *ngIf="fetchCompletionModalStatus()">
  <app-gamified-completion-modal></app-gamified-completion-modal>
</div>

<div class="modal" *ngIf="fetchRankUpModalStatus()">
  <app-rank-up></app-rank-up>
</div>
