@use "../../../../../app.component.scss" as *;
@use "../../../../../icons/font-awesome-6-pro-main/css/all.css" as *;

.filter-content {
  width: 100%;

  .filter-buttons {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .button-container {
      .btn {
        padding: 0.5rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        box-shadow: 0 2px 4px $textColor;
        font-size: 0.9rem;
        transition: all 0.2s ease-in;
      }

      .selected {
        background: linear-gradient(to top, $mainColor, $shadow);
        color: white;
      }
    }
  }

  .filter-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-block: 1rem;

    .filter {
      border-radius: 8px;
      padding: 0.5rem 1rem;
      box-shadow: 0 2px 4px $textColor;
    }

    .category {
      background: linear-gradient(to right, #f5c0ef, #fff5f2);
    }

    .tags {
      background: linear-gradient(to right, #ffe8a3, #fff5f2);
    }

    .priority {
      background: linear-gradient(to right, #a3ffc6, #fff5f2);
    }
  }
}
