<div class="filter-content">
  <ul class="filter-buttons">
    <li class="button-container">
      <button class="btn" (click)="openTaskFilterModal()">
        <i class="fa-sharp fa-solid fa-filter-list"></i>
      </button>
    </li>
    <li class="button-container" *ngFor="let text of filterTextArr; index as i">
      <button
        class="btn"
        [ngClass]="{ selected: progressFilterIndex === i }"
        (click)="setProgressFilter(i)"
      >
        {{ text }}
      </button>
    </li>
  </ul>
  @if (choosenFilter) {
  <ul class="filter-list">
    @if (choosenFilter.category) {
    <li
      class="filter"
      [ngClass]="{ category: choosenFilter.category != undefined }"
    >
      {{ choosenFilter.category | taskCategory }}
    </li>
    }
    <!-- PERSONAL -->

    @if (choosenFilter.tags) {
    <li class="filter" [ngClass]="{ tags: choosenFilter.tags != undefined }">
      <!-- PERSONAL -->
      @if (choosenFilter.category === taskCategories.PERSONAL) {
      {{ choosenFilter.tags | taskTagPersonal }}
      }
      <!-- ACADEMIC -->
      @if (choosenFilter.category === taskCategories.ACADEMIC) {
      {{ choosenFilter.tags | taskTagAcademic }}
      }
    </li>
    }

    <!-- PRIORITY -->
    @if (choosenFilter.priority) {
    <li
      class="filter"
      [ngClass]="{ priority: choosenFilter.priority != undefined }"
    >
      {{ choosenFilter.priority | textPipe }}
    </li>
    }
  </ul>
  }
</div>
